<div class="activity-detail" *ngIf="model && model.note"  (click)="openCandidatePage()" tappable>
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="date-col">
        <div class="date-group">
          <span class="month">{{ toDate(model.suggestion_datetime) | date:'MMM' }}</span>
          <span class="date">{{ toDate(model.suggestion_datetime) | date:'dd' }}</span>
          <span  class="year">{{ toDate(model.suggestion_datetime) | date:'y' }}</span>
        </div>
      </ion-col>
      <ion-col size="9" class="detail-col">
        <b class="txt-staff">
          <ng-container *ngIf="model.candidate">
            {{ model.candidate.candidate_name }} {{ "@" }} {{ toDate(model.suggestion_datetime) | date:'h:mmaaaaa' }}
          </ng-container>
          <ng-container *ngIf="model.fulltimer">
            {{ model.fulltimer.fulltimer_name }} {{ "@" }} {{ toDate(model.suggestion_datetime) | date:'h:mmaaaaa' }}
          </ng-container>
        </b>

        <p>Suggestion</p>

        <p [innerHTML]="model.note.note_text"></p>
          <ng-container *ngIf="model.suggestion_status == 1">
            <ion-button (click)="acceptSuggestion($event)">
              Accept
            </ion-button>
            <ion-button color="secondary" (click)="rejectSuggestion($event)">
              Reject
            </ion-button>
          </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<!--<ion-card (click)="openCandidatePage()">-->
<!--  <ion-card-header>-->
<!--    <ion-card-title>-->
<!--      {{ model.note.note_text }}-->
<!--    </ion-card-title>-->
<!--  </ion-card-header>-->
<!--  <ion-card-content>-->

<!--    <ion-item lines="none" *ngIf="model.candidate">-->
<!--      <div tabindex="0"></div>-->
<!--      <ion-icon name="person" slot="start"></ion-icon>-->
<!--      {{ model.candidate.candidate_name }}-->
<!--      <span *ngIf="!model.candidate.candidate_name">-->
<!--        {{ model.candidate.candidate_name_ar }}-->
<!--      </span>-->
<!--    </ion-item>-->

<!--    <ion-item lines="none" *ngIf="model.fulltimer">-->
<!--      <div tabindex="0"></div>-->
<!--      <ion-icon name="person" slot="start"></ion-icon>-->
<!--      {{ model.fulltimer.fulltimer_name }}-->
<!--    </ion-item>-->

<!--&lt;!&ndash;    <small>{{ toDate(model.suggestion_datetime) | date: 'MMM d, y, h:mm:ss a' }}</small>&ndash;&gt;-->
<!--  </ion-card-content>-->
<!--  <ion-card-header *ngIf="model.suggestion_status == 1">-->
<!--    <ion-button (click)="acceptSuggestion($event)">-->
<!--      Accept-->
<!--    </ion-button>-->
<!--    <ion-button color="secondary" (click)="rejectSuggestion($event)">-->
<!--      Reject-->
<!--    </ion-button>-->
<!--  </ion-card-header>-->

<!--</ion-card>-->
