

<ion-card>
  <ion-badge *ngIf="salary.status == 'Paid'">Paid</ion-badge>
  <ion-badge *ngIf="salary.status =='Unpaid'">In Progress</ion-badge>

  <div class="salary">
    <b>KWD {{salary.total | number:'1.3-3' }}</b>
    <p *ngIf="salary.bonus > 0">Base {{ salary.total | number:'1.3-3' }} KWD + Bonus KWD {{salary.candidate_bonus | number:'1.3-3' }}</p>
  </div>
  
  <p>Confirmation #{{ salary.transfer_confirmation_id }}</p>

  <p>{{ salary.transfer_benef_name }}</p>

  <p *ngIf="salary.bank">{{ salary.bank.bank_name }}</p>

  <p>{{ salary.transfer_benef_iban }}</p>

  <p class="txt-time">
    {{ salary.tc_created_at | timeAgo }} on 
    {{ toDate(salary.tc_created_at) | date: 'MMM d, y' }}
  </p>
</ion-card>
