<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Fulltimer
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openFilter()" class="btn-filter mobile-only" *ngIf="!showFilter">
        <ion-icon slot="start" src="assets/images/ic-filter.svg"></ion-icon> Filter
      </ion-button>

      <ion-button class="btn-add-filter" routerLink="/fulltimer-form">
        Add Fulltimer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #container scrollEvents="true" (ionScroll)="logScrolling($event)" class="source-browser-page">

  <!-- loader when initializing -->
  <div class="container">
    <ion-grid *ngIf="!instantSearchInstance" class="dummy">
      <ion-row>
        <ion-col size-xs="0" size-sm="0" size-md="4" size-lg="4" class="desktop-only">
          <div class="filter-wrapper">
            <loading-modal [loading]="true" type="fulltimer-filter">
            </loading-modal>
          </div>
        </ion-col>

        <ion-col size-xs="12" size-sm="12" size-md="8" size-lg="8" class="employer-list-wrapper">
          <div class="cv-list">
            <div class="list-header">
              <div class="applied-filters-skeleton">
                <ion-skeleton-text animated></ion-skeleton-text>
              </div>

              <div class="searchBox">
                <ion-skeleton-text animated class="skelton-searchbar"></ion-skeleton-text>
              </div>
            </div>

            <div class="loading-fulltimer">
              <loading-modal [loading]="true" type="fulltimer"></loading-modal>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- InstantSearch.js Implementation -->
  <div *ngIf="instantSearchInstance" class="instantsearch-container">
    <ion-grid>
      <ion-row [class.filter-closed]="!showFilter" [class.filter-opened]="showFilter">

        <ion-col size-sm="12" size-md="4" size-lg="4" class="col-filter">
          <div class="filter-wrapper" (scroll)="logScrolling($event)">
            <fulltimer-filter></fulltimer-filter>
          </div>
        </ion-col>

        <ion-col size-xs="12" size-sm="12" size-md="8" size-lg="8" size-xl="8" class="col-listing employer-list-wrapper">

          <div class="list-header" *ngIf="showSearchBox">
            <div class="applied-filters-wrapper">
              <applied-filters [loading]="refining" [labelWithoutFilter]="'Showing fulltimers'"
                                [labelWithFilter]="'Showing fulltimers for'">
              </applied-filters>
            </div>

            <div class="searchBox" id="searchbox">
              <!-- Search box will be instantiated by instantsearch.js -->
            </div>
          </div>

          <!-- Results container -->
          <div id="hits" class="cv-list">
            <!-- Hits will be instantiated by instantsearch.js -->
          </div>

          <!-- Pagination container -->
          <div id="pagination" class="pagination-container">
            <!-- Pagination will be instantiated by instantsearch.js -->
          </div>

          <!-- Loading state -->
          <div *ngIf="refining" class="loading-fulltimer">
            <loading-modal [loading]="true" type="fulltimer"></loading-modal>
          </div>

          <!-- No results message -->
          <p *ngIf="!refining && !instantSearchInstance.isStalled" class="no-fulltimer-on-filter">
            {{ "No results found for your search" | translate }}
          </p>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="ion-no-border" [class.filter-closed]="!showFilter" [class.filter-opened]="showFilter">
  <ion-toolbar class="container ion-no-padding">
    <!-- || nbHits == 0-->
    <ion-button [disabled]="loading" (click)="dismiss()" expands="full" class="btn-view-fulltimers">
      <span *ngIf="!loading">
        {{ "View Result" | translate }}
        <!--
        <span *ngIf="nbHits == 0">No Job Found</span>
        <span *ngIf="nbHits > 0">View {{ nbHits }} fulltimers</span>-->
      </span>
      <!-- || refreshingFulltimers || nbHits == null -->
      <ion-spinner *ngIf="loading"></ion-spinner>
    </ion-button>
  </ion-toolbar>
</ion-footer>