<div class="component-content" dir="ltr">
  <h3 *ngIf="total >= 0 && !loading">

    <span *ngIf="currentSelectionsList.length == 0 && total">
        {{ total }} {{ labelWithoutFilter }}
    </span>
    <span *ngIf="currentSelectionsList.length > 0 && total">
      {{ total }}  {{ labelWithFilter }}
    </span>
  </h3>

  <div *ngIf="loading" class="applied-filters-skeleton">
    <ion-skeleton-text animated></ion-skeleton-text>
  </div>

  <!--
  <p class="txt-average" *ngIf="authService && average">
    {{
        'txt_with_average_salary' | translate : {
          value : average | currency : authService.currency_pref : 'code':'3.0'
        }
    }}
  </p>-->

  <div class="clearfix"></div>

  <div *ngIf="!isHidden()">
    <span *ngIf="this.platform.is('mobile') && currentSelectionsList.length > 0">
        <div class="outer-slider">
            <div class="inner-element">
                <ion-button (click)="toggleCurrentSelection(currentSelection)" class="skip-hover" *ngFor="let currentSelection of currentSelectionsList">
                  {{ currentSelection.label }}
                  <ion-icon name="close"></ion-icon>
                </ion-button>
            </div>
        </div>
    </span>

      <span *ngIf="this.platform.is('desktop') && currentSelectionsList.length > 0">
        <ion-button (click)="toggleCurrentSelection(currentSelection)"  *ngFor="let currentSelection of currentSelectionsList" class="skip-hover">
          {{ currentSelection.label }}
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </span>
  </div>
</div>
