<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/candidate-view/{{ candidate_id }}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  
  <div class="container">
    
    <h3>Candidate Invitation</h3>

    <h4 *ngIf="candidate">
      {{ candidate.candidate_name }}
      <span *ngIf="!candidate.candidate_name">{{ candidate.candidate_name_ar }}</span>
    </h4>
 
    <div class="filter-wrapper">

      <ion-chip tappable (click)="filterByStatus($event, null)" 
        [class.active]="status == null">All</ion-chip>
      
      <ion-chip tappable (click)="filterByStatus($event, 1)" 
        [class.active]="status == 1">Invited</ion-chip>
      
      <ion-chip tappable (click)="filterByStatus($event, 2)" 
        [class.active]="status == 2">Rejected</ion-chip>
      
      <ion-chip tappable (click)="filterByStatus($event, 3)" 
        [class.active]="status == 3">Accepted</ion-chip>
 
    </div>  

    <ng-container *ngIf="candidate">
      <request-listing *ngFor="let invitation of invitations" [request]="invitation.request" [invitation]="invitation" [showStatus]="status == 1" 
      (click)="requestDetail(invitation.request)"></request-listing>
    </ng-container>

    <ng-container *ngIf="!candidate">
      <invitation *ngFor="let invitation of invitations" [model]="invitation">
      </invitation> 
    </ng-container>
 
<!--      <invitation [model]="invitation" (click)="suggest(invitation)" (onUpdate)="loadInvitations()"></invitation>-->
<!--      <request-listing [request]="invitation.request" [invitation]="invitation" (click)="suggest(invitation)"></request-listing>-->
    

    <loading-modal [loading]="loading || loadingInvitations" type="note-list"></loading-modal>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
